/*
 * Vixor - Responsive Website Template
 * Version: 1.0.3
 * Copyright 2016
 * Created by: damterthemes
 * @damterthemes: https://wrapbootstrap.com/user/damterthemes
 */

/* LAYOUTS - STYLES */

/* GOOGLE FONTS */

/* Google fonts - Lato */
@font-face { font-family: 'latoblack'; src: url('../fonts/lato/lato-black-webfont.eot'); src: url('../fonts/lato/lato-black-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black-webfont.html') format('woff2'), url('../fonts/lato/lato-black-webfont.woff') format('woff'), url('../fonts/lato/lato-black-webfont.ttf') format('truetype'), url('../fonts/lato/lato-black-webfont.svg#latoblack') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latobold'; src: url('../fonts/lato/lato-bold-webfont.eot'); src: url('../fonts/lato/lato-bold-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato/lato-bold-webfont.woff') format('woff'), url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latolight'; src: url('../fonts/lato/lato-light-webfont.eot'); src: url('../fonts/lato/lato-light-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light-webfont.html') format('woff2'), url('../fonts/lato/lato-light-webfont.woff') format('woff'), url('../fonts/lato/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latoregular'; src: url('../fonts/lato/lato-regular-webfont.eot'); src: url('../fonts/lato/lato-regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato/lato-regular-webfont.woff') format('woff'), url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg'); font-weight: normal; font-style: normal; }

/* GLOBAL STYLES */
body { font-family: 'latoregular', Arial, sans-serif; }
html { -moz-font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
a { color: #394553; text-decoration: none !important; outline: 0 !important; }
a:link { text-decoration: none !important; outline: 0 !important; }
a:hover { color: #394553; }
a:focus { outline: 0 !important; }
::-moz-selection { background: #8B8B8B; color: #FFFFFF; }
::-webkit-selection { background: #8B8B8B; color: #FFFFFF; }
::-o-selection { background: #8B8B8B; color: #FFFFFF; }

.btn-custom { background-color: #37BC9B; border: 1px solid #37BC9B; color: #FFFFFF !important; }
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active { background-color: #2D997E; border: 1px solid #2D997E; color: #FFFFFF !important; }
.btn-custom.disabled:hover, .btn-custom.disabled:focus, .btn-custom.disabled:active, .btn-custom.disabled.active, .btn-custom[disabled]:hover, .btn-custom[disabled]:focus, .btn-custom[disabled]:active, .btn-custom[disabled].active, fieldset[disabled] .btn-custom:hover, fieldset[disabled] .btn-custom:focus, fieldset[disabled] .btn-custom:active, fieldset[disabled] .btn-custom.active { background-color: #37BC9B; border: 1px solid #37BC9B; color: #FFFFFF !important; }

/* Center Elements */
.div-center { text-align: center !important; vertical-align: middle; padding: 0; }
.div-center * { margin: 0 auto; }

/* JUMBOTRON */
#layouts-jumbotron { background-color: #F8F8F8; border-bottom: 1px solid #F0F0F0; padding: 65px 0 65px 0; color: #333333 !important; background-image: url("../images/layouts/bg-header-layouts.jpg"); background-repeat: no-repeat; background-position: center 100%; background-position: center center; width: 100%; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#layouts-jumbotron p { text-align: center; padding-bottom: 0; margin-bottom: 0; }
#layouts-jumbotron h1 { font-family: 'latolight', Arial, sans-serif; margin-top: 50px; padding-left: 20%; padding-right: 20%; padding-bottom: 15px; line-height: 38px; font-size: 2em; text-align: center; }
#layouts-jumbotron .btn { padding: 10px 20px 10px 20px; border-radius: 50px; text-transform: uppercase; }
#layouts-jumbotron h3 { text-align: center; font-size: 1.2em; margin-top: 0; padding-top: 0; }

/* DEMO */
#demo { background-color: #F7F7F7; }

/* IMAGES OF THE DESIGNS */
.layouts-section { padding: 40px 0 30px 0; border-bottom: 1px solid #F0F0F0; }
.layout { padding: 0 15px 30px 15px; }
.layout h4 { padding: 8px 5px 8px 5px; color: #666666; text-transform: capitalize; font-size: 1.5em; margin-bottom: 5px; text-align: center; }
.layout a { color: #666666; }

/* Title */
.layout-title { padding-top: 15px; padding-bottom: 45px; }
.layout-title h2 { font-family: 'latobold', Arial, sans-serif; color: #37BC9B; text-align: center !important; margin-top: -8px; margin-bottom: -15px; font-size: 1.8em; font-weight: normal; }

/* FOOTER */
footer { background-color: #FFFFFF; color: #2D997E; padding: 20px 0 20px 0; }
footer hr { border-color: #E8E8E8; border-style: solid; }
footer p { color: #333333; padding-top: 7px; }
footer a { color: #2D997E; font-weight: bold; }
footer a:hover { color: #2D997E; }

/* RESPONSIVE */
@media screen and (max-width:470px) {
.layout.col-xs-6 { width: 100%; }
#layouts-jumbotron h1 { padding-left: 0; padding-right: 0; font-size: 1.5em; }
}