/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */

/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face { font-family: 'flexslider-icon'; src: url('fonts/flexslider-icon.eot'); src: url('fonts/flexslider-icond41d.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg'); font-weight: normal; font-style: normal; }

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus { outline: none; }
.slides, .slides > li, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.flex-pauseplay span { text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider { margin: 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.flexslider .slides img { width: inherit; display: block; }
.flexslider .slides:after { content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; color: #ffffff; }
html[xmlns] .flexslider .slides { display: block; }
* html .flexslider .slides { height: 1%; }
.no-js .flexslider .slides > li:first-child { display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider { margin: 0; background: #dddddd; border: 20px solid #ffffff; position: relative; zoom: 1; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2); -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2); box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2); }
#flexslider-slides-container { overflow: hidden; }
.flexslider .slides { zoom: 1; }
.flexslider .slides img { height: auto; }
.flexslider .slides .caption { width: 100%; height: auto; margin-top: 100px; position: absolute; top: 0; background-color: transparent; color: white; font-weight: bold; text-align: center; vertical-align: middle; z-index: 999; }
.flexslider .slides .caption:not(.animate) { opacity: 0; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.carousel li { margin-right: 5px; }
.flex-direction-nav { *height: 0; }
.flex-direction-nav a { text-decoration: none; display: block; height: 60px; margin: 0 auto; text-align: center; background-color: #4B4B4B; position: absolute; top: 45%; z-index: 5; overflow: hidden; opacity: 1; cursor: pointer; color: rgba(255, 255, 255, 1); text-shadow: none; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); }
.flex-direction-nav a:hover { overflow: hidden !important; }
.flex-direction-nav a:before { font-family: "Flaticon"; font-size: 22px; display: inline-block; content: '\e006'; color: rgba(255, 255, 255, 1); text-shadow: none; margin-top: 5px; padding: 9px 0 0 3px; }
.flex-direction-nav a.flex-next:before { content: '\e096'; padding: 9px 2px 0 0; }
.flex-direction-nav .flex-prev { left: -51px; box-shadow: none; border-radius: 100px 0 0 100px; }
.flex-direction-nav .flex-next { right: -50px; box-shadow: none; border: none; border-radius: 0 100px 100px 0; }
.flexslider:hover .flex-direction-nav .flex-prev { opacity: 1; left: -51px; }
.flexslider:hover .flex-direction-nav .flex-prev:hover { opacity: 1; }
.flexslider:hover .flex-direction-nav .flex-next { opacity: 1; right: -50px; }
.flexslider:hover .flex-direction-nav .flex-next:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 1 !important; filter: alpha(opacity=100); cursor: default; }
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover { opacity: 1; }
.flex-pauseplay a .flex-play:before { content: '\f003'; }
.flex-control-nav { width: 100%; position: absolute; bottom: -75px; text-align: center; }
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-paging li a { width: 15px; height: 15px; display: block; background: #979797; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; -moz-box-shadow: inset 0 2px 2px #333333; -webkit-box-shadow: inset 0 2px 2px #333333; box-shadow: inset 0 2px 2px #333333; }
.flex-control-paging li a.flex-active { cursor: default; }
.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }
.flex-control-thumbs li { width: 25%; float: left; margin: 0; }
.flex-control-thumbs img { width: 100%; height: auto; display: block; opacity: .7; cursor: pointer; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.flex-control-thumbs img:hover { opacity: 1; }
.flex-control-thumbs .flex-active { opacity: 1; cursor: default; }
.flex-slider .btn { text-transform: uppercase; font-weight: bold; margin-top: 5px !important; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media (min-width:1200px) {
#flexslider-slides-container { height: 400px; }
}

@media (min-width:992px) and (max-width:1199px) {
#flexslider-slides-container { height: 320px; }
.flexslider .slides img { width: 100%; }
.flex-direction-nav a { top: 45%; }
.flex-direction-nav .flex-prev { left: -50px; }
.flexslider:hover .flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; }
.flexslider:hover .flex-direction-nav .flex-next { right: -50px; }
.flex-slider h1 { font-size: 2em !important; margin-top: 45px !important; }
.flex-slider h3 { font-size: 1.6em !important; }
.flex-control-nav { bottom: -70px; }
.flex-slider .btn { margin-top: 0 !important; }
}

@media (min-width:861px) and (max-width:991px) {
#flexslider-slides-container { height: 300px; }
.flexslider .slides .caption { margin-top: 60px; }
.flexslider .slides img { width: 100%; }
.flexslider-image { padding-top: 20px; }
.flex-direction-nav a { top: 40%; }
.flex-direction-nav .flex-prev { left: -50px; }
.flexslider:hover .flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; }
.flexslider:hover .flex-direction-nav .flex-next { right: -50px; }
.flex-slider h1 { font-size: 2em !important; margin-top: 45px !important; }
.flex-slider h3 { font-size: 1.6em !important; }
.flex-control-nav { bottom: -65px; }
.flex-slider .btn { margin-top: 0 !important; }
}

@media screen and (max-width:860px) {
.flexslider .slides .caption { margin-top: 60px; }
.flex-direction-nav .flex-prev { opacity: 1; left: 10px; }
.flex-direction-nav .flex-next { opacity: 1; right: 10px; }
}

@media (min-width:768px) and (max-width:860px) {
#flexslider-slides-container { height: 220px; }
.flexslider .slides img { width: 100%; }
.flex-direction-nav a { top: 40%; }
.flex-direction-nav .flex-prev { left: -50px; }
.flexslider:hover .flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; }
.flexslider:hover .flex-direction-nav .flex-next { right: -50px; }
.flex-slider h1 { font-size: 2em !important; margin-top: 35px !important; }
.flex-slider h3 { font-size: 1.6em !important; }
.flex-control-nav { bottom: -65px; }
.flex-slider .btn { margin-top: 0 !important; }
}

@media (min-width:640px) and (max-width:767px) {
#flexslider-slides-container { height: 205px; }
.flexslider .slides .caption { margin-top: 50px; }
.flexslider { border: 10px solid #FFFFFF !important; }
.flexslider .slides img { width: 100%; }
.flexslider-image { display: none !important; }
.flex-direction-nav a { top: 37%; }
.flex-direction-nav .flex-prev { left: -40px; }
.flexslider:hover .flex-direction-nav .flex-prev { left: -40px; }
.flex-direction-nav .flex-next { right: -40px; }
.flexslider:hover .flex-direction-nav .flex-next { right: -40px; }
.flex-slider h1 { font-size: 2em !important; margin-top: 10px !important; }
.flex-slider h3 { font-size: 1.6em !important; }
.flex-slider .text-right { text-align: center !important; }
.flex-control-nav { bottom: -50px; }
.flex-slider .btn { margin-top: 0 !important; }
}

@media (min-width:568px) and (max-width:639px) {
#flexslider-slides-container { height: 255px; }
.flexslider .slides .caption { margin-top: 45px; }
.flexslider { border: 10px solid #FFFFFF !important; }
.flexslider .slides img { width: 100%; }
.flexslider-image { display: none !important; }
.flex-direction-nav a { top: 37%; }
.flex-direction-nav .flex-prev { left: -40px; }
.flexslider:hover .flex-direction-nav .flex-prev { left: -40px; }
.flex-direction-nav .flex-next { right: -40px; }
.flexslider:hover .flex-direction-nav .flex-next { right: -40px; }
.flex-slider h1 { font-size: 2em !important; margin-top: 15px !important; }
.flex-slider h3 { font-size: 1.6em !important; }
.flex-slider .text-right { text-align: center !important; }
.flex-control-nav { bottom: -50px; }
.flex-slider .btn { margin-top: 0 !important; }
}

@media (min-width:481px) and (max-width:567px) {
#flexslider-slides-container { height: 255px; }
.flexslider .slides .caption { margin-top: 40px; }
.flexslider { border: 10px solid #FFFFFF !important; }
.flexslider .slides img { width: 100%; }
.flexslider-image { display: none !important; }
.flex-direction-nav a { top: 37%; }
.flex-direction-nav .flex-prev { left: -40px; }
.flexslider:hover .flex-direction-nav .flex-prev { left: -40px; }
.flex-direction-nav .flex-next { right: -40px; }
.flexslider:hover .flex-direction-nav .flex-next { right: -40px; }
.flex-slider h1 { font-size: 1.6em !important; margin-top: 30px !important; }
.flex-slider h3 { font-size: 1.3em !important; }
.flex-slider .text-right { text-align: center !important; }
.flex-control-nav { bottom: -50px; }
.flex-slider .btn { font-size: 1em !important; font-weight: normal !important; margin-top: 0 !important; }
}

@media (min-width:240px) and (max-width:480px) {
#flexslider-slides-container { height: 60px; }
.flexslider .slides .caption { margin-top: 30px; }
.flexslider { border: 5px solid #FFFFFF !important; }
.flexslider .slides img { width: 100%; }
.flexslider-image { display: none !important; }
.flex-direction-nav a { top: 1%; }
.flex-direction-nav .flex-prev { left: -35px; }
.flexslider:hover .flex-direction-nav .flex-prev { left: -40px; }
.flex-direction-nav .flex-next { right: -35px; }
.flexslider:hover .flex-direction-nav .flex-next { right: -40px; }
.flex-slider h1 { font-family: 'open_sansregular', Arial, sans-serif !important; font-size: 1.2em !important; margin-top: 0 !important; margin-bottom: 2px; }
.flex-slider h3 { font-size: 1em !important; margin-top: 2px; margin-bottom: 5px; }
.flex-slider .text-right { text-align: center !important; }
.flex-control-nav { bottom: -50px; }
.flex-slider .btn { font-size: 0.8em !important; font-weight: normal !important; margin-top: 0 !important; padding: 5px; }
}